<div id="myTeam"  class="myTeam">
  <div class="container">
    <div class="page-header">Points</div>
    <div class="row">
      <div class="col-md-7">
        <div class="field">
          <div class="field_row gkp">
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
          </div>
          <div class="field_row  def">
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
          </div>
          <div class="field_row mid">
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
          </div>
          <div class="field_row fwd">
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
          </div>
        </div>
        <div class="bench container">
          <div class="bench_row">
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
            <div class="field-element"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <!--<div class="">
              <span>Gameweek: </span>
              <span id="gwNo"></span>
          </div>-->
          <div class="">
              <h3 id="teamName"></h3>
          </div>
          <div class="">
              <b>Gameweek Points: </b>
              <span id="totalPoints"></span>
          </div>
      </div>
    </div>
  </div>
</div>
